.FirstBox{
	background-color: grey;
}
.MainImg{
	align-content: center;
	padding-left: 50px;
}

.WelcomeMsg{
	align-content: center;
	padding-right: 10px;
}
footer{
	text-align: center;
  padding: 3px;
  background-color: grey;
  color: white;
}